div.carousel {
    border: 5px solid red;
}

div.carousel-img {
    border: 5px solid black;
}

div.carousel-control-panel {
    border: 5px solid grey;
}

span.carousel-control {
    border: 5px solid lightgrey;
}