div.carousel {
    border: 5px solid maroon;
    background-color: #000;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    justify-content: space-between;
}

div.carousel-img {
    border: 5px solid blueviolet;
    flex-grow: 1;
    display: flex;
    background-size: 100% 100%;
}

div.carousel-control-panel {
    border: 5px solid #000;
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
}

.carousel-control {
    flex-grow: 1;
    background-color: #707070;
}

.carousel-control:active {
    background-color: #8d9fff;
}

button.back {
    flex-grow: 1.5;
}

button.play {
    flex-grow: 1;
}

button.forward {
    flex-grow: 1.5;
}

span.material-icons {
    font-size: 3em;
    padding: -10px;
}