footer {
    display: flex;
    background-color: #000;
    color: #fff;
    justify-content: space-between;
}

.footer-more {
    flex-grow: 1;
    text-align: center;
}

.footer-more span {
    border-style: outset;
    padding: .3em 3em;
}

.footer-items {
    flex-grow: 10;
}

footer ul {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    padding: 1em;
    margin: 0;
}

footer ul li {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
}